//_colors.scss

$bg-color-global: #fff; // navbar background color
$excel-blue: #2696c2;


.turquoise{
    color: #1abc9c;
}


.emerald{
    color: #2ecc71;
}


.peter-river{
    color:#3498db;
}

.amthyst{
    color: #9b59b6;
}

.wet-asphalt{
    color:#34495e;
}

.green-sea{
    color: #16a085;
}

.nehpritis{
    color: #27ae60;
}

.sunflower{
    color:#f1c40f;
}

.carrot{
    color: #e67e22;
}

.pumpkin{
    color: #d35400; 
}

.alizarin{
    color:#e74c3c;
}