footer{
    padding-top: 40px;
    background-color: #34343e;
    color: #fff;
    height: 300px;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 1;
    width:100%;

    h3{
        color:#9394a7;
        font-family: 'Raleway' , sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    ul{
        margin-left: 0;
        padding-left: 0;
        
        li{
            list-style: none;
            font-family: 'Raleway' , sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 1.7;
            a{
                text-decoration: none;
                color:inherit;
                transition: all 0.3s;
            }

            a:hover{
                text-decoration: none;
                color: #999;
            }

            span{
                color: #aaa;
                margin-right: 5px; 
            }

            i{
                font-size: 20px !important;
                letter-spacing: 4px;
            }
        }
    }

    .logos{

        img{
            float: left;            
        }
        
        img.mec-logo{
            height: 84px;
            // margin: 0 auto;

        }
        img.excel-logo{
            height: 100px;
            position: relative;
            top: -4px;
        }
    }
}

@media (max-width: 1200px){

    footer{
        padding-left: 40px;
    }        
}

@media(max-width: 970px){
    footer{
        height: 560px;
    }
}